p {
  font-family: Lato;
}

.container-2 {
  width: 50%;
  min-height: 40vh;
  background-color: rgba(140, 200, 250, 0.2);
}

/* div Loading start*/

.center {
  margin: auto;
  margin-left: 680px;
}

.loder-icon {
  position: absolute;
  font-size: 54px;
  color: red;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.positionReletive {
  width: 100%;
  position: relative;
}

.divshow {
  display: block;
}

.divhide {
  display: none;
}
/* div Loading end*/
