<div>
  <div class="container">
    <div *dtLoading="user$">
      Type anything other than numbers, the change is fired even if the
      textfield content does not change :
      <br />
      <input
        type="text"
        [ngModel]="value"
        (ngModelChange)="onChange($event)"
        allowInputs="^(\d+(?:\,\d*)?)*$"
      />
      <br />
      <p expandTextOnHover originalText="{{ text }}"></p>
      <br />

      <input
        type="textbox"
        [(ngModel)]="inputValue"
        placeholder="XX.XX"
        appTwoDigitDecimaNumber
      />
      <input
        type="textbox"
        [(ngModel)]="inputValue"
        placeholder="XX.XX"
        allowInputs="^\d*\.?\d{0,2}$"
      />
    </div>

    <br />
  </div>

  <div></div>
</div>

<!-- https://www.mindflash.org/coding/angular/ngloaded-an-angular-directive-to-display-a-loading-spinner-127 -->
<!-- https://dev.to/devlazar/reusable-loader-directive-angular-498h -->
<!-- <div relativeLoader [loading]="true">
  <div>relative loader</div>
</div>

<div [spinner]="true">
  <div>spinner loader</div>
</div> -->

<div>
  <button class="btn btn-primary" (click)="onClick()" *dtLoading="loader$">
    Click me
  </button>
  <button appTooltip toolTip="Tip of the day">Show Tip</button>
</div>
